<ion-content>
  <main class="p-8">
    <app-form-header></app-form-header>
    <form [formGroup]="signupForm">
      <ion-item lines="full">
        <ion-input
          formControlName="name"
          type="text"
          label="Nome"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input
          formControlName="email"
          type="email"
          label="E-mail"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input
          formControlName="password"
          type="password"
          label="Senha"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input
          formControlName="confirmPassword"
          type="password"
          label="Confirmar senha"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-label
        color="danger"
        *ngIf="
          signupForm.errors?.['confirmedValidator'] &&
          signupForm.touched
        "
      >
        {{signupForm.errors?.['confirmedValidator']}}
      </ion-label>
    </form>
  </main>
</ion-content>
