<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Page Title</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <main class="p-8">
    <h1 class="text-xl">Agendar serviço</h1>
    <div class="flex justify-between w-full">
      <ion-button
        fill="clear"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "pt-BR" }}</h3>
      </div>
      <ion-button
        fill="clear"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <form [formGroup]="filterForm" class="flex items-center gap-4">
      <ion-item class="flex-1 my-4" lines="full">

        <ion-select
          placeholder="Selecione um profissional"
          formControlName="professional"
          label="Profissional"
        >
          <ion-select-option
            *ngFor="let professional of professionals"
            [value]="professional.idProfessional"
            >{{ professional.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-button (click)="openRegistrationForm()" fill="outline">
        <ion-icon slot="start" name="add"></ion-icon>
        Agendar
      </ion-button>
    </form>
    <div *ngIf="!filterForm.controls.professional.value; else calendar">
      <div class="flex flex-col items-center justify-center p-8 gap-4">
        <h2>Selecione um profissional</h2>
        <img
          src="/assets/select-professional.svg"
          alt="Selecione um profissional"
        />
      </div>
    </div>
    <ng-template #calendar>
      <mwl-calendar-day-view
        [viewDate]="viewDate"
        [dayStartHour]="7"
        [dayEndHour]="20"
        [locale]="locale"
      >
      </mwl-calendar-day-view>
      <ion-text color="dark">
        <p>Para agendar um serviço clique nos horários disponíveis</p>
      </ion-text>
    </ng-template>
    <ion-card class="mt-8 shadow-xl p-4">
      <ion-card-subtitle>Próximos agendamentos</ion-card-subtitle>
      <ion-list>
        <ion-item *ngFor="let appointment of appointments">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ appointment.serviceName }}</h2>
            <p>Preço: {{ appointment.price | currency : "BRL" }}</p>
            <p>Data: {{ appointment.date | date : "short" }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </main>
</ion-content>

<app-appointment-form></app-appointment-form>
