<ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointments">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
    <!--
    <ion-tab-button tab="adicionar">
      <span
        class="bg-purple-800 rounded-full w-12 h-12 flex justify-center items-center"
      >
        <ion-icon
          name="add-circle-outline"
          size="large"
          color="light"
        ></ion-icon>
      </span>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="notificacoes">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificações</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="services">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clients">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferencias">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Preferências</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
