<ion-content>
  <main class="p-8">
    <header class="flex justify-start items-center w-full">
      <img src="/assets/logo.png" alt="Logo Simples Salão" width="75" />
      <div class="flex flex-col gap-2">
        <h1 class="font-bold text-2xl m-0">Olá {{ userName }},</h1>
        <h2 class="font-normal text-2xl m-0">seja bem-vindo(a)</h2>
      </div>
    </header>
    <ion-card class="mt-8 shadow-xl p-4">
      <ion-card-subtitle>Faturado hoje</ion-card-subtitle>
      <ion-card-content>
        <h1 class="text-xl font-bold">{{ 23200 | currency : "BRL" }}</h1>
      </ion-card-content>
    </ion-card>
    <ion-card class="mt-8 shadow-xl p-4">
      <ion-card-subtitle>Agendar com profissionais</ion-card-subtitle>
      <ion-card-content>
        <span
          class="flex justify-center items-center shadow-lg shadow-purple-200 border-purple-400 border text-yellow-950 text-center text-xs w-16 h-16 rounded-full"
        >
          Claudio Júnior
        </span>
      </ion-card-content>
    </ion-card>
    <ion-card class="mt-8 shadow-xl p-4">
      <ion-card-subtitle>Próximos agendamentos</ion-card-subtitle>
      <ion-list>
        <ion-item *ngFor="let appointment of appointments">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ appointment.serviceName }}</h2>
            <p>Preço: {{ appointment.price | currency : "BRL" }}</p>
            <p>Data: {{ appointment.date | date : "short" }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card class="mt-8 shadow-xl p-4">
      <ion-card-subtitle>Serviços recomendados</ion-card-subtitle>
      <ion-list>
        <ion-item *ngFor="let service of recommendedServices">
          <ion-icon name="star-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ service.name }}</h2>
            <p>Preço: {{ service.price | currency : "BRL" }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </main>
</ion-content>
