<ion-content>
  <main class="p-8">
    <header class="flex justify-start items-center w-full">
      <img src="/assets/logo.png" alt="Logo Simples Salão" width="75" />
      <div class="flex flex-col gap-2">
        <h1 class="font-bold text-2xl m-0">Olá {{ userName }},</h1>
        <h2 class="font-normal text-2xl m-0">seja bem-vindo(a)</h2>
      </div>
    </header>
    <ion-card class="mt-8 shadow-xl p-4">
      <ion-card-subtitle>Agendar com profissionais</ion-card-subtitle>
      <ion-card-content>
        <span class="flex justify-center items-center shadow-lg shadow-purple-200 border-purple-400 border text-yellow-950 text-center text-xs w-16 h-16 rounded-full">
          Claudio Júnior
        </span>
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>
