<ion-modal [isOpen]="$isOpen | async">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Criar serviço</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Criar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="serviceForm">
        <ion-item>
          <ion-input
            type="text"
            formControlName="name"
            placeholder="Nome do serviço"
            label="Nome do serviço"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="number"
            formControlName="price"
            placeholder="Preço"
            labelPlacement="floating"
            label="Preço"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="number"
            formControlName="duration"
            placeholder="Duração"
            labelPlacement="floating"
            label="Duração"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="text"
            formControlName="description"
            placeholder="Descrição"
            labelPlacement="floating"
            label="Descrição"
          ></ion-input>
        </ion-item>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
