<ion-content>
  <main class="p-8">
    <video autoplay muted loop class="border-r-4 w-full">
      <source src="/assets/barber.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="p-1 w-full">
      <ion-button routerLink="/criar-conta" expand="full">
        Começar a agendar
      </ion-button>
      <ion-button routerLink="/login" expand="full" fill="outline">
        Já sou registrado
      </ion-button>
    </div>
  </main>
</ion-content>
