<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Preferências</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <main class="p-8">
    <form [formGroup]="companyForm">
      <ion-item lines="full">
        <ion-input
          formControlName="name"
          label="Nome da empresa"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input
          formControlName="cnpj"
          label="CNPJ"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input
          formControlName="timeUnit"
          label="Duração dos serviços"
          labelPlacement="floating"
          placeholder="Intervalo de minutos em minutos"
        ></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-datetime
          formControlName="openingTime"
          presentation="time"
          minuteValues="0"
        >
          <span slot="title">Horário de abertura</span>
        </ion-datetime>
      </ion-item>

      <ion-item lines="full">
        <ion-datetime
          formControlName="closingTime"
          presentation="time"
          minuteValues="0"
          title="Horário de fechamento"
        >
          <span slot="title">Horário de fechamento                                                                                              </span>
        </ion-datetime>
      </ion-item>

      <ion-button expand="full" type="submit" (click)="savePreferences()"
        >Salvar configurações</ion-button
      >
    </form>
  </main>
</ion-content>
