<ion-modal [isOpen]="$isOpen | async">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Solicitar agendamento </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Solicitar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="appointmentForm">
        <ion-item lines="full">
          <ion-select
            placeholder="Selecione um profissional"
            formControlName="professional"
            label="Profissional"
          >
            <ion-select-option
              *ngFor="let professional of professionals"
              [value]="professional.idProfessional"
              >{{ professional.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <h2 *ngIf="$date | async as date" class="mx-auto mt-8 text-center">
          {{ date | calendarDate : "dayViewTitle" : "pt-BR" }}
        </h2>

        <ion-item lines="full">
          <ion-label>Horário inicial</ion-label>
          <ion-datetime
            formControlName="startTime"
            presentation="time"
            hourValues="8,9,10,11,12,13,14,15,16,17,18"
            minuteValues="0,15,30,45"
          ></ion-datetime>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Horário Final</ion-label>
          <ion-datetime
            formControlName="endTime"
            presentation="time"
            hourValues="8,9,10,11,12,13,14,15,16,17,18"
            minuteValues="0,15,30,45"
          ></ion-datetime>
        </ion-item>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
